<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="maincontent">
        <h1>Send us feedback</h1>

        <!-- <% if (locals.errors) {%>
          <div class="alert alert-danger">
            <ul>
            <% errors.forEach(function(error) { %>
              <li>
                <%= error.msg %>
              </li>
            <% }) %>
            </ul>
          </div>
        <% } else if (success) { %>
          <div class="alert alert-success">
            <p>
              <%= success %>
            </p>
          </div>
        <% } %> -->

        <div class="alert" id="div-alert">

        </div>

        <form id="feedback-form" class="feedback-form">
          <div class="form-group">
            <label for="feedback-form-name">Name</label>
            <input type="text" class="form-control" id="feedback-form-name" name="name" placeholder="Enter your name">
          </div>
          <div class="form-group">
            <label for="feedback-form-email">E-Mail</label>
            <input type="text" class="form-control" id="feedback-form-email" name="email" placeholder="Enter your email address">
          </div>
          <div class="form-group">
            <label for="feedback-form-title">Title</label>
            <input type="text" class="form-control" id="feedback-form-title" name="title" placeholder="Title of your feedback">
          </div>
          <div class="form-group">
            <label for="feedback-form-message">Message</label>
            <textarea type="text" placeholder="Enter your message, then hit the submit button" name="message" class="form-control"
              id="feedback-form-message" rows="6"></textarea>
          </div>
          <button type="submit" id="btn-submit" class="btn btn-secondary float-right">Submit</button>
        </form>
      </div>
    </div>
    
    <%- include('../layouts/partials/feedbacks.ejs') %>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>

<script>
const renderSuccess = (success) => {
  const divAlert = document.getElementById('div-alert')
  divAlert.innerHTML = null
  divAlert.classList.add('alert-success')

  const para = document.createElement('p')
  const text = document.createTextNode(success)
  para.appendChild(text)
  divAlert.appendChild(para)
}
const renderFeedback = ({ success, feedback = [] }) => {
  renderSuccess(success)

  const feedbacksDiv = document.getElementById('feedbacks')
  feedbacksDiv.innerHTML = null

  feedback.map((feedback) => {
    feedbacksDiv.insertAdjacentHTML('beforeend', `<div class="feedback-item item-list media-list">
      <div class="feedback-item media">
        <div class="feedback-info media-body">
          <div class="feedback-head">
            <div class="feedback-title">${feedback.title}</div>
            <small>by ${feedback.name}</small>
          </div>
          <div class="feedback-message">
            ${feedback.message}
          </div>
        </div>
      </div>
    </div>`)
  })

  setTimeout(() => {
    document.getElementById('div-alert').classList.remove('alert-success')
    document.getElementById('div-alert').innerHTML = null
  }, 3000);
}
const renderErrors = (errors = []) => {
  const divAlert = document.getElementById('div-alert')
  divAlert.innerHTML = null
  divAlert.classList.add('alert-danger')

  divAlert.insertAdjacentHTML('beforeend', '<ul id="errors-list"></ul>')

  const ulErrors = document.getElementById('errors-list')

  errors.map((error) => {
    ulErrors.insertAdjacentHTML('beforeend', `<li>${error.msg}</li>`)
  })
}

function handleSubmit(event) {
  axios({
    url: '/feedback/api',
    method: 'post',
    data: {
      name: document.getElementById('feedback-form-name').value,
      email: document.getElementById('feedback-form-email').value,
      title: document.getElementById('feedback-form-title').value,
      message: document.getElementById('feedback-form-message').value,
    }
  })
    .then((response) => {
      if (response.data.errors) {
        renderErrors(response.data.errors)
      } else if (response.data.success) {
        renderFeedback(response.data)
      }
    })
  event.preventDefault()
}

const btn = document.getElementById('btn-submit')
btn.addEventListener('click', handleSubmit)
</script>